<vsf-web-main-layout>
    <div header-notification>
        Hello Header Notification
    </div>
    <div main>
        <vsf-web-right-sidebar-layout>
            <div main-content>
                <p>search works!</p>
                <vsf-web-authorize></vsf-web-authorize>
                <vsf-web-preference></vsf-web-preference>
            </div>
            <div right-sidebar-content>
                Right Sidebar
            </div>
        </vsf-web-right-sidebar-layout>
    </div>
</vsf-web-main-layout>